body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

/* Nav */
.nav {
  background-color: #e9e7e9;
  padding: 100px 40px;
}

.name {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 12px;
}

.career {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.nav-content {
  margin-left: 20px;
}

.list {
  margin-bottom: 12px;
}

.list a {
  display: block;
  color: #999999;
  padding: 6px;
}

a.active {
  font-weight: 500;
  color: black;
}

/* Main */
.main {
  min-height: 100vh;
  grid-column: span 4;
  padding: 80px 100px;
}

.grid-sizer,
.grid-item {
  width: calc(33.333% - 8px);
  margin: 4px;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.hide {
  opacity: 0;
}

/* https://codepen.io/codeams/pen/YzWvjq */
.at-bounceIn {
  animation-name: bounceIn;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: var(--delay);
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
